<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388169553212-9svium0ir6i33e64u3grnsg50qeqdlo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388169553212-9svium0ir6i33e64u3grnsg50qeqdlo8</string>
	<key>API_KEY</key>
	<string>AIzaSyAiUkXsL7rWLTlCSAVzTjRgOIpGsJOmZbM</string>
	<key>GCM_SENDER_ID</key>
	<string>388169553212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sedraasrawi.Store-s</string>
	<key>PROJECT_ID</key>
	<string>stores-21eb9</string>
	<key>STORAGE_BUCKET</key>
	<string>stores-21eb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388169553212:ios:43544716c56691c26d7a39</string>
</dict>
</plist>